/* medium screns */
@media screen and (max-width: 1220px) {
    .container-fluid .two-banners .banner .overlay_title h3 {
        font-size: 18px
    }
}
@media screen and (min-width: 770px) {
    #acount_menu_open_dic svg {
        width: 35px;
        height: 35px;
    }
   
}