*.jpg
*.jpeg
*.png
*.gif
*.zip
*.rar
*.xml
*.csv
.htaccess
assets/*.html
assets/*.svg
assets/*.js
/app/Config/App.php
/app/Config/Database.php

/app_qatar/Config/App.php
/app_qatar/Config/Database.php

/app_south_africa/Config/App.php
/app_south_africa/Config/Database.php

/app_saudi_test/Config/App.php
/app_saudi_test/Config/Database.php

/app_saudi/Config/App.php
/app_saudi/Config/Database.php

/app_test/Config/App.php
/app_test/Config/Database.php

/writable/session/*
/writable/logs/*
error_log
php.ini
